<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Expense Tracker</h1>
    </header>
    <section class="container">
        <form id="expense-form">
            
            <div>
                <label for="amount">Choose Expense Amount:</label>
                <input type="text" id="amount"/>
            </div>
            <div>
                <label for="description">Choose Description:</label>
                <input type="text" id="description"/>
            </div>
            <div>
                <label for="category">Choose a Category:</label>
                <select id="category">
                    <option value="Movie">Movie</option>
                    <option value="Shoping">Shoping</option>
                    <option value="Grocery">Grocery</option>
                    <option value="Bills">Bills</option>
                </select>
            </div>
            <button type="submit" class="btn" id="AddBtn">Add Expense</button>
            
        </form>

        <button id="buyPremium">Buy Premium</button>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <ul id="expenses"></ul>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"></script>
    <!-- <script src="./DOM.js"></script> -->
    <script>
        const form = document.getElementById('expense-form');
        const expenseAmount = document.getElementById('amount');
        const expenseDesc = document.getElementById('description');
        const expenseCategory = document.getElementById('category');
        const ul = document.getElementById('expenses');

        form.addEventListener('submit', storeAsObject);
        ul.addEventListener('click',removeItemFromUI);


        function showDataOnUI(obj){
            let visibleText = obj.amount + '-' + obj.description + '-' + obj.category;
            // console.log(visibleText);
            const item = document.createElement('li');
            const btn = document.createElement('button');
            const editBtn = document.createElement('button');

            btn.textContent = 'Delete';
            btn.classList = 'button';

            editBtn.textContent = 'Edit';
            editBtn.classList = 'edit button';
            item.setAttribute('id',obj.id);

            
            item.appendChild(document.createTextNode(visibleText));
            item.appendChild(btn);
            item.appendChild(editBtn);
            ul.appendChild(item);
        }

        // to fetch all data from backend
        function allStorage() {
            window.addEventListener("DOMContentLoaded", async () => {
                const token = localStorage.getItem('token');
                const allUsers = await axios.get("http://localhost:3000/getExpenses", {headers: {"Authorization": token}});
                allUsers.data.forEach(user => {
                    showDataOnUI(user);
                });
            })
        }
        allStorage();



        async function storeAsObject(e){
            e.preventDefault();
            let amount = expenseAmount.value;
            let description = expenseDesc.value;
            let category = expenseCategory.value;

            let myObj={
                amount,
                description,
                category
            }
            const token = localStorage.getItem('token');
            const expenses = await axios.post("http://localhost:3000/expense",myObj, {headers: {"Authorization": token}})
            // console.log(expenses.data.expense);
            showDataOnUI(expenses.data.expense);
            expenseAmount.value = '';
            expenseDesc.value = '';
            expenseCategory.value = '';
        }

        async function removeItemFromUI(e){
            e.preventDefault();

            if(e.target.classList.contains('button')){
                let id = e.target.parentNode.id;  
            const token = localStorage.getItem('token');

                await axios.delete(`http://localhost:3000/deleteExpense/${id}`,{headers: {"Authorization": token}})
                ul.removeChild(e.target.parentNode);
            }
        }

        document.getElementById('buyPremium').onclick = async function(e){
            const token = localStorage.getItem('token');
            const response = await axios.get('http://localhost:3000/purchasePremium',{headers: {"Authorization": token}});
            console.log(response);
            var options = {
                "key": response.data.key_id,
                "order_id": response.data.order.id,
                "handler": async function(response) {
                    await axios.post('http://localhost:3000/updatetransactionstatus',{
                        order_id: options.order_id,
                        payment_id: response.razorpay_payment_id,
                    }, {headers: {"Authorization": token}})

                    alert('Yo are a Premium user')
                },
            };

            const rzp1 = new Razorpay(options);
            rzp1.open();
            e.preventDefault();

            rzp1.on('payment.failed', function(response){
                console.log(response)
                alert('Something went wrong')
            })
        }
    </script>
</body>
</html>